[Desktop Entry]
Type=Application
Name=chaos - retro terminal screensaver effect
Comment=Screensaver effect: chaos
Exec=chaos
Icon=chaos
Terminal=false
Categories=Screensaver;
